$font-stack: 'VictorMono';
$primary-color: #000;
$accent-color: #df0000;

body {
  margin: 0;
  background-color: $primary-color;
  color: #ffffff;
  font-family: $font-stack;
  line-height: normal;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
	color: $accent-color
  }

  .page-wrapper {
	padding: 0 25px;
  }
}