$font-stack: 'VictorMono';
$primary-color: #000;
$accent-color: #2196f3;

body {
  margin: 0;
  background-color: $primary-color;
  color: #ffffff;
  font-family: $font-stack;
  line-height: normal;

  h1 {
	font-weight: 700;
  }

  h2, h3 {
	font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
	color: $accent-color
  }
  
  header {
	display: flex;
	align-items: center;
	padding: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ffffff;
  }
  
  .page-wrapper {
	padding: 0 25px;
  }
}