{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <h1>Content TEST</h1>
	<h3>Lorem ipsum Lorem ipsum</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#bottom" target="_blank">From its medieval origins</a> sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<div id="smooth-wrapper">
		<div id="smooth-content">
		  	<div class="scrolling-text">
				<div class="rail">
					<h4>Lorem Ipsum Sit Dolor</h4>
					<h4>Lorem Ipsum Sit Dolor</h4>
					<h4>Lorem Ipsum Sit Dolor</h4>
				</div>
	  		</div>
		</div>
	</div>

	<div id="bottom" class="bottom-block">Bootom</div>
{% endblock %}